* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style: none;
}

.topHeader {
  background-color: #0282f9;
  width: 100%;
  height: 2rem;
}

.topHeader .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
  font-weight: 550;
  color: white;
}

.topHeader .container span {
  padding: 0 1rem;
}

.bottomHeader {
  width: 100%;
  height: 8rem;
}

.bottomHeader .container {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomHeader .container .navMenu ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
}

.bottomHeader .container .navMenu ul li {
  color: #464646;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0.5rem;
}

.bottomHeader .container .searchBox {
  color: #464646;
}

.bottomHeader .container .searchBox input {
  font-weight: 600;
  border: none;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.jumbotron {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  width: 100%;
  height: 20rem;
  background-size: cover;
}

.topFooterBg {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 20rem;
}

.topFooterBg .innerFooter {
  position: relative;
}

.topFooterBg .innerFooter .footerNav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.topFooterBg .innerFooter .footerNav .footerNavLeft {
  width: calc(50% - 10px);
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.topFooterBg .innerFooter .footerNav .footerNavLeft h3 {
  color: white;
  text-transform: uppercase;
  padding: 1rem 0;
}

.topFooterBg .innerFooter .footerNav .footerNavLeft li {
  color: #464646;
  padding: 0 0.3rem;
}

.topFooterBg .innerFooter .footerNav .footerNavRight {
  width: calc(50% - 10px);
  margin: 5px;
  display: flex;
  justify-content: center;
}

.topFooterBg .innerFooter .footerNav .footerNavRight img {
  height: 20rem;
  padding: 2rem 0;
}

.main {
  width: 100%;
  background-color: #1c1c1c;
}

.main .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main .container .card {
  width: calc(16.6666666667% - 30px);
  padding: 2rem;
  margin: 5px;
}

.main .container .card img {
  width: 100%;
}

.main .container .card .cardTitle {
  margin-top: 2rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.topContent {
  width: 100%;
  height: 5rem;
  background-color: #0282f9;
}

.topContent .container {
  position: relative;
}

.topContent .container img {
  width: 8rem;
  position: absolute;
  top: -8rem;
  left: 0;
}

.middleContent {
  min-height: 30rem;
}

.middleContent .container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

.middleContent .container .middleLeft {
  width: 65%;
  height: 30rem;
  background-color: antiquewhite;
}

.middleContent .container .middleLeft h2 {
  color: #003f5e;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 3rem;
}

.middleContent .container .middleRight {
  width: 30%;
  height: 30rem;
  text-align: right;
  margin-top: 0.5rem;
}

.middleContent .container .middleRight span {
  text-transform: uppercase;
  color: #464646;
  font-weight: 600;
}

.middleContent .container .middleRight img {
  width: 100%;
  margin-top: 0.5rem;
}

